*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Finlandica', sans-serif;
    }

html{
    font-size: medium;
}
/*--------------------MENU NAVEGACION-------------------------*/

.imagen-logo{
    height: 140px;
    weight: 140px;
}

.nav-link{
transition: all .5;
border-radius: 30px;
}

.nav-link:hover {
background: #6eaf28;
letter-spacing: 1px;
}

/*--------------------CARRUSEL-------------------------*/

#carouselExampleFade{
    display: none;
}


/*--------------------InicioServicios-------------------------*/
.serviciosGrid{ 
    margin-bottom: 30px;

   text-align: center; 
   font-weight: bold;
}

.serviciosGrid div p{
    font-size:x-large;
    text-decoration: underline;
}

.serviciologistica{
    grid-area: serviciologistica;
}

.servicioenvios{
    grid-area: servicioenvios;
}

.servicioasesor{
    grid-area: servicioasesor;
}

.servicioespecialistas{
    grid-area: servicioespecialistas;
}

/*----------------------PAGE NUESTRA HISTORIA-------------------------*/

.nuestrahistoria{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.nuestrahistoria article{
    font-weight: bold;
    text-align: justify;
    font-size: large;
}
/*----------------------PAGE PRODUCTOS-------------------------*/

.productosGridpage{
    display: grid;
    justify-content: center;
    background-image: url(../imagen/caju\ fondo\ de\ productos.jpeg);
    background-size: cover;
    text-align: center;

}


.productos-lista li{
    padding: 0px 10px 10px 0px;
    font-size: medium;
    font-weight: bold;
    list-style: none;
    text-align: center;
}

.productosGrid1 h2{
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.productosGrid2 h2{
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-decoration: underline;
}

.productosGrid3 h2{
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-decoration: underline;
}

.productosGrid4 h2{
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-decoration: underline;
}

.productosGrid4 p {
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
    font-size: xx-large; 
    margin-top: 20px;
    text-decoration: underline;

}

/*--------------------PAGE SERVICIOS------------------------------------*/

.page-servicios{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.page-servicios p{
    font-weight: bold;
    margin-top: 10px;
    font-size: large;
    text-decoration: underline
    
    ;
}

.articulo1-pageservicios{
    font-size: large;
    text-align: justify;
}



/*----------------------PAGE CONTACTO-------------------------*/
        
h3{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}


.formularioContacto {
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    background:#C1FA84;   
    background-size: cover;
}

.formularioContacto input{
    width: 80%;
    height: 35px;
    text-align: center;

}


.formularioContacto form{
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;

}

.formulario__botonsubmit{
    background-color: #C1FA84;
    font-weight: bold; 
}

.formularioContacto div{
    font-weight: bold;
    font-size: x-large;
    
}

.formulario-eleccion p{
    text-decoration:solid;
    text-decoration: underline;
}

.formulario-eleccion{
    margin-bottom: 15px;
}


/*--------------------FOOTER DE TODAS LAS PAGES-------------------------*/


.redesinstagram{
    grid-area: redesinstagram;
}


.redesfacebook{
     grid-area: redesfacebook;
}


.redeswhatsapp{
    grid-area: redeswhatsapp;
}

.redesGrid nav{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: large;
    text-align: center;
    align-items: center;
}

.redesGrid nav a{
    text-decoration: none;
    color: #40611D; 
    font-weight: bold;
    transition: all .5;
    transition: all 0.4s linear;
    border-radius: 20px;
}


.redesGrid nav a:hover {
background: #C1FA84;
letter-spacing: 1px;
}

.footerGrid{
    grid-area: footer;
    background: linear-gradient(to top, rgba(114, 167, 65, 0.8) 0%, rgba(67, 99, 63, 0.1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;

}

.footerGrid div{

    text-align: center;
    font-size: small;
    font-weight:bold;    
    margin-top: 10px;
    

}

.footerlink a{
    text-decoration: none;
    color:black;
    transition: all 0.4s linear;

}

.footerlink a:hover{
    letter-spacing: 1px;
    color: #fff;
}

.iconify{
    font-size: 50px;
}

/*---------------------MEDIA DESKTOP CARRUSEL DE IMAGENES----------------------*/
@media (min-width:480px){

#carouselExampleFade{
    display:contents;
}

#carouselExampleIndicators{
    display: none;
}

}
/*---------------------MEDIA DESKTOP INDEX----------------------*/
@media (min-width:768px){
    .serviciosGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "serviciologistica servicioenvios"
        "servicioasesor servicioespecialistas";
}


.redesGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "redesinstagram redeswhatsapp redesfacebook";
    align-items: center;

}
}


/*---------------------MEDIA DESKTOP PRODUCTOS----------------------*/
@media (min-width:768px){

.productosGridpage{

grid-template-columns: 1fr 1fr 1fr 1fr;
}
}